<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Projectmobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">



        <activity
            android:name=".follow.FollowActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Information.ItemVideo.FullScreenVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CreateVideo.VideoConfig"
            android:exported="false" />
        <activity
            android:name=".Setting.SettingNotLogin"
            android:exported="false" />
        <activity
            android:name=".CreateVideo.PreviewVideo"
            android:exported="false" />
        <activity
            android:name=".CreateVideo.CreateVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Information.AuthorInformation"
            android:exported="false" />
        <activity
            android:name=".Information.User.UserInformation"
            android:exported="false" />
        <activity
            android:name=".Setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Information.User.UserInformation_LoggedInProfile"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".Notification.InboxActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".Notification.ChatActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>